

<h2 class="text-xl text-center mb-3">Fifth Component</h2>

<section class="w-full md:w-[900px] m-auto flex justify-between items-center">

  <a [routerLink]="['/' + ngxRouteService.routes.fourth.fn({ id: '123' })]" class="px-2 py-1 rounded-xl shadow-md text-center bg-red-700 text-white inline-block">
    Prev
  </a>

  <div>
    <h3 class="text-lg">Snapshot state</h3>
    <span> [ userRole: {{ ngxRouteService.routes.fifth.params.userRole.snapshotValue() }}, state: {{ ngxRouteService.routes.fifth.params.state.snapshotValue() }} ] </span>
  </div>

  <a [routerLink]="['/' + ngxRouteService.routes.sixth.fn({ date: '2001-sept-20', options: 'option 194' })]" class="px-2 py-1 rounded-xl shadow-md text-center bg-red-700 text-white inline-block">
    Next
  </a>

</section>
