<section class="w-full h-fit bg-purple-50 p-10">
  <h1 class="text-3xl text-center mb-5">Ngx Route Manager Demo</h1>

  <section class="flex flex-col gap-5 justify-center w-full">
    <div class="flex flex-wrap gap-10 justify-center w-full">
      <div class="p-2 border border-gray-300 rounded-lg">
        <h2 class="text-xl">First component</h2>

        <button
          (click)="navigateTo(routes.first.fn())"
          class="px-2 py-1 rounded-xl shadow-md text-center bg-red-700 text-white inline-block"
        >
          Go to first
        </button>

        <div>
          <span>Path: </span><span>{{ routes.first.path }}</span>
        </div>
        <div>
          <span>URL: </span><span>{{ routes.first.fn() }}</span>
        </div>
        <div><span>Listen: </span><span></span></div>
      </div>

      <div class="p-2 border border-gray-300 rounded-lg">
        <h2 class="text-xl">Second component</h2>

        <button
          (click)="navigateTo(routes.second.fn())"
          class="px-2 py-1 rounded-xl shadow-md text-center bg-red-700 text-white inline-block"
        >
          Go to second
        </button>

        <div>
          <span>Path: </span><span>{{ routes.second.path }}</span>
        </div>
        <div>
          <span>URL: </span><span>{{ routes.second.fn() }}</span>
        </div>
        <div><span>Listen: </span><span></span></div>
      </div>

      <div class="p-2 border border-gray-300 rounded-lg">
        <h2 class="text-xl">Third component</h2>

        <button
          (click)="navigateTo(routes.third.fn({ id: '123', type: 'sword' }, { state: 'active', q: 'search' }))"
          class="px-2 py-1 rounded-xl shadow-md text-center bg-red-700 text-white inline-block"
        >
          Go to third
        </button>

        <div>
          <span>Path: </span><span>{{ routes.third.path }}</span>
        </div>
        <div>
          <span>URL: </span
          ><span>{{ routes.third.fn({ id: "123", type: "sword" }, { state: 'active', q: 'search' }) }}</span>
        </div>
        <div>
          <span>Listen: </span
          ><span
            >[ id: {{ routeManager.getParamStream(routes.third.params.id) | async }}, type:
            {{ routeManager.getParamStream(routes.third.params.type) | async }}, state:
            {{ routeManager.getQueryParamStream(routes.third.queryParams.state) | async }}, q:
            {{ routeManager.getQueryParamStream(routes.third.queryParams.q) | async }}, ]</span
          >
        </div>
      </div>
    </div>

    <div class="flex flex-wrap gap-10 justify-center w-full">
      <div class="p-2 border border-gray-300 rounded-lg">
        <h2 class="text-xl">Fourth component</h2>

        <button
          (click)="navigateTo(routes.fourth.fn({ id: 'fourth Id' }))"
          class="px-2 py-1 rounded-xl shadow-md text-center bg-red-700 text-white inline-block"
        >
          Go to fourth
        </button>

        <div>
          <span>Path: </span><span>{{ routes.fourth.path }}</span>
        </div>
        <div>
          <span>URL: </span
          ><span>{{ routes.fourth.fn({ id: "fourth Id" }) }}</span>
        </div>

        <div>
          <span>Listen: </span
          ><span
            >[ id:
            {{ routeManager.getParamStream(routes.fourth.params.id) | async }} ]</span
          >
        </div>
      </div>

      <div class="p-2 border border-gray-300 rounded-lg">
        <h2 class="text-xl">Fifth component</h2>

        <button
          (click)="navigateTo(routes.fifth.fn({ userRole: 'guest', state: 'active' }))"
          class="px-2 py-1 rounded-xl shadow-md text-center bg-red-700 text-white inline-block"
        >
          Go to fifth
        </button>

        <div>
          <span>Path: </span><span>{{ routes.fifth.path }}</span>
        </div>
        <div>
          <span>URL: </span
          ><span>{{
            routes.fifth.fn({ userRole: "guest", state: "active" })
          }}</span>
        </div>

        <div>
          <span>Listen: </span
          ><span
            >[ userRole:
            {{ routeManager.getParamStream(routes.fifth.params.userRole) | async }}, state:
            {{ routeManager.getParamStream(routes.fifth.params.state) | async }} ]</span
          >
        </div>
      </div>

      <div class="p-2 border border-gray-300 rounded-lg">
        <h2 class="text-xl">Sixth component</h2>
        <h2 class="text-sm">Using directive</h2>

        <button
          (click)="navigateTo(routes.sixth.fn({ date: '24th July 2005', options: 'option z' }))"
          class="px-2 py-1 rounded-xl shadow-md text-center bg-red-700 text-white inline-block"
        >
          Go to sixth
        </button>

        <div>
          <span>Path: </span><span>{{ routes.sixth.path }}</span>
        </div>
        <div>
          <span>URL: </span
          ><span>{{
            routes.sixth.fn({ date: "24th July 2005", options: "option z" })
          }}</span>
        </div>

        <div>
          <span>Listen: </span
          ><span
            >[ date: {{ routeManager.getParamStream(routes.sixth.params.date) | async }},
            options:
            {{ routeManager.getParamStream(routes.sixth.params.options) | async }} ]</span
          >
        </div>
      </div>
    </div>
  </section>
</section>

<section class="w-full py-10">
  <router-outlet />
</section>
